/*font-family: 'Righteous', cursive;*/
/*font-family: 'Special Elite', cursive;*/
/*font-family: 'Fredericka the Great', cursive;*/

.navbar-brand {
    font-family: 'Special Elite', cursive;
    color: black;
}
.profile {
    margin: 0;
}
.profile-left {
    height: 200px;
    /*background-color: #808782;*/
}
.profile-right {
    height: 600px;
    border-left: solid;
    border-color: #f5f5f5;
}
.profile-pic {
    border-radius: 50%;
    max-width: 200px;
    text-align: center;
    margin-left: 60px;
    /*justify-content: center;*/
}
.list-trailers {
    margin: 0px 15px 0px 15px;
}
.trailer {
    text-align: center;
    height: 200px;
    border: solid #006000;
    /*border-color: black;*/
}
